<%= require('html-loader!../__top.html') %>
    <%= require('html-loader!../__menu.html') %>

        <main class="main">
            <div class="main-content">
                <div class="picture">
                    <div class="picture_inner">
                        <img 
                            src="/img/details.png" alt>
                            <!-- srcset="/img/details_bottom.png 1300w, /img/details.png 1920w"
                            sizes="(max-width: 1300px) 1000px,
                                1920px" -->
                    </div>
                </div>
                <div class="text-content">
                    <h1>
                        Сертифицированные автозапчасти
                    </h1>
                    <div class="links-list">
                        <div class="link_wrap">
                            <a href="#" class="link dot hov">
                                автонормали
                            </a>
                        </div>
                        <div class="link_wrap">
                            <a href="#" class="link dot hov">
                                Валы коленчатые
                            </a>
                        </div>
                        <div class="link_wrap">
                            <a href="#" class="link dot hov">
                                Вкладыши
                            </a>
                        </div>
                        <div class="link_wrap">
                            <a href="#" class="link dot hov">
                                Головки блока цилиндров / Блоки цилиндров
                            </a>
                        </div>
                        <div class="link_wrap">
                            <a href="#" class="link dot hov">
                                Запчасти КПП
                            </a>
                        </div>
                        <div class="link_wrap">
                            <a href="#" class="link dot hov">
                                Камеры тормозные
                            </a>
                        </div>
                        <div class="link_wrap">
                            <a href="#" class="link dot hov">
                                Крышки, картеры, поддоны
                            </a>
                        </div>
                        <div class="link_wrap">
                            <a href="#" class="link dot hov">
                                Маховики
                            </a>
                        </div>
                        <div class="link_wrap">
                            <a href="#" class="link dot hov">
                                ГРМ
                            </a>
                        </div>
                        <div class="link_wrap">
                            <a href="#" class="link dot hov">
                                Насосы
                            </a>
                        </div>
                        <div class="link_wrap">
                            <a href="#" class="link dot hov">
                                Насосы водяные
                            </a>
                        </div>
                        <div class="link_wrap">
                            <a href="#" class="link dot hov">
                                Патрубки
                            </a>
                        </div>
                        <div class="link_wrap">
                            <a href="#" class="link dot hov">
                                ПГУ
                            </a>
                        </div>
                        <div class="link_wrap">
                            <a href="#" class="link dot hov">
                                Прокладки, сальники, уплотнители
                            </a>
                        </div>
                        <div class="link_wrap">
                            <a href="#" class="link dot hov">
                                Разное
                            </a>
                        </div>
                        <div class="link_wrap">
                            <a href="#" class="link dot hov">
                                Рычаги регулировочные
                            </a>
                        </div>
                        <div class="link_wrap">
                            <a href="#" class="link dot hov">
                                Сцепление
                            </a>
                        </div>
                        <div class="link_wrap">
                            <a href="#" class="link dot hov">
                                Топливное оборудование
                            </a>
                        </div>
                        <div class="link_wrap">
                            <a href="#" class="link dot hov">
                                Цилиндро-поршневая группа (ЦПГ)
                            </a>
                        </div>
                        <div class="link_wrap">
                            <a href="#" class="link dot hov">
                                Электрооборудование
                            </a>
                        </div>
                    </div>
                    <a href="#" class="catalog-link green-btn">
                        Перейти в каталог
                    </a>
                </div>
            </div>
        </main>
        <%= require('html-loader!../__bottom.html') %>